/* Font Colors */
$base-font-size: 16px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color: #666666;

/* Background Colors */
$secondary-color: #00aff0;
$third-color: #7fba00;
$primary-color: #e4eef2;
$dark-color: #333333;

/* Showcase Area */

$showcase-height: 460px;
$showcase-image: '/assets/img/background.jpg';
$img-path: "/assets/img";



